<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">

  <title>Signup/Login - Procialize</title>

  <link href="css/style.default.css" rel="stylesheet">
  <link href="css/jquery.datatables.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>
  
  <div class="leftpanel">
    
    <div class="logopanel">
        <h1>Procialize</h1>
    </div><!-- logopanel -->
        
    <div class="leftpanelinner">    
        
        <!-- This is only visible to small devices -->
        <div class="visible-xs visible-sm visible-md visible-lg">   
            <div class="media userlogged">
                <img alt="" src="images/photos/loggeduser.png" class="media-object">
                <div class="media-body">
                    <h4>John Doe</h4>
                    <span>"Life is so..."</span>
                </div>
				
            </div>
        </div>
      
      <ul class="nav nav-pills nav-stacked nav-bracket mt10">
        <li class="active"><a href="index.html"><i class="fa fa-home"></i> <span>Home</span></a></li>
        <li><a href="index.html"><i class="fa fa-search"></i> <span>Search Events</span></a></li>
        <li><a href="index.html"><i class="fa fa-sitemap"></i> <span>Saved Exhibitors</span></a></li>
        <li><a href="index.html"><i class="fa fa-users"></i> <span>Saved Attendees</span></a></li>
        <li><a href="index.html"><i class="fa fa-bullhorn"></i> <span>Saved Speakers</span></a></li>
        <li><a href="index.html"><i class="fa fa-retweet"></i> <span>Share Procialize</span></a></li>
        <li><a href="index.html"><i class="fa fa-list"></i> <span>About Procialize</span></a></li>
        <li><a href="index.html"><i class="fa fa-desktop"></i> <span>Application Settings</span></a></li>
        <li><a href="index.html"><i class="glyphicon glyphicon-folder-close"></i> <span>Logout</span></a></li>
      </ul>
      
    </div><!-- leftpanelinner -->
  </div><!-- leftpanel -->
  
	<div class="mainpanel">
	<div class="page-background" id="background_section">
            <div class="bg-img" id="px_background_img"></div>
		</div>
    
    <div class="headerbar">
      
      <a class="menutoggle"><i class="fa fa-bars"></i></a>
	  <a class="logotop"><img src="images/pl.png"></a>
	  <p class="titletop">PROCIALIZE</p>
      
      <div class="header-right">
        <ul class="headermenu">
          
          <li>
            <div class="btn-group">
              <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                <i class="glyphicon glyphicon-envelope"></i>
              </button>
            </div>
          </li>
          <li>
            <div class="btn-group">
              <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                <i class="glyphicon glyphicon-random"></i>
              </button>
            </div>
          </li>
          <li>
            <button id="chatview" class="btn btn-default tp-icon chat-icon">
                <i class="glyphicon glyphicon-bell"></i>
            </button>
          </li>
        </ul>
      </div><!-- header-right -->
      
    </div><!-- headerbar -->
    
	<div class="contentpanel">
    <div class="panel panel-default panel-stat">
		<div class="panel-heading panel-heading-alt">
		
		  <div class="row">
			
			<div class="col-xs-12">
				<div class="stat">
					
					<div class="omb_login">
					<h3 class="omb_authTitle">Sign up</h3>
					<h4 class="text-center">Login using</h4>
					<br>
					<div class="row omb_row-sm-offset-3">
						<div class="col-xs-12 col-sm-6 mb20">
							<button class="btn btn-primary btn-block" type="submit"><i class="fa fa-linkedin visible-xs"></i> LinkedIn</button>
						</div>
					</div>
					<p class="text-center">We recommend up sign via Linkedin. <a href="#">Why?</a></p>
					<br>
					<div class="row omb_row-sm-offset-3 omb_socialButtons">
						<div class="col-xs-4 col-sm-2">
							<a href="#" class="btn btn-block omb_btn-facebook">
								<i class="fa fa-facebook visible-xs"></i>
								<span class="hidden-xs">Facebook</span>
							</a>
						</div>
						<div class="col-xs-4 col-sm-2">
							<a href="#" class="btn btn-block omb_btn-twitter">
								<i class="fa fa-twitter visible-xs"></i>
								<span class="hidden-xs">Twitter</span>
							</a>
						</div>	
						<div class="col-xs-4 col-sm-2">
							<a href="#" class="btn btn-block omb_btn-google">
								<i class="fa fa-google-plus visible-xs"></i>
								<span class="hidden-xs">Google+</span>
							</a>
						</div>	
					</div>
					<br>
					<p class="text-center">Sign up manually with <a href="#">Email Id</a></p>
					<br>
					<div class="row omb_row-sm-offset-3">
						<div class="col-xs-12 col-sm-6">
							<hr>
						</div>
					</div>
					<br>
					<p class="text-center">Already have an account? Login</p>
					<br>
					<div class="row omb_row-sm-offset-3">
						<div class="col-xs-12 col-sm-6">	
							<form class="omb_loginForm" action="" autocomplete="off" method="POST">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user"></i></span>
									<input type="text" class="form-control" name="username" placeholder="email address">
								</div>
								<span class="help-block"></span>
													
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock"></i></span>
									<input  type="password" class="form-control" name="password" placeholder="Password">
								</div>
								<span class="help-block">Password error</span>

								<button class="btn btn-success btn-block" type="submit">Login</button>
							</form>
						</div>
					</div>
					<div class="row omb_row-sm-offset-3">
						<div class="col-xs-12 col-sm-3">
							<label class="checkbox">
								<input type="checkbox" value="remember-me">Remember Me
							</label>
						</div>
						<div class="col-xs-12 col-sm-3">
							<p class="omb_forgotPwd">
								<a href="#">Forgot password?</a>
							</p>
						</div>
					</div>	    	
				</div>
					
				</div><!-- stat -->
			</div><!-- col-sm-6 -->
			
		  </div><!-- row -->
      </div>
	</div>
    </div><!-- contentpanel -->
    
  </div><!-- mainpanel -->
  
  <div class="rightpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#rp-alluser" data-toggle="tab"><i class="fa fa-users"></i></a></li>
    </ul>
        
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="rp-alluser">
            <h5 class="sidebartitle">Online Users</h5>
            <ul class="chatuserlist">
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/userprofile.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Eileen Sideways</strong>
                            <small>Los Angeles, CA</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user1.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <span class="pull-right badge badge-danger">2</span>
                            <strong>Zaham Sindilmaca</strong>
                            <small>San Francisco, CA</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user2.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Nusja Nawancali</strong>
                            <small>Bangkok, Thailand</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user3.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Renov Leongal</strong>
                            <small>Cebu City, Philippines</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li class="online">
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user4.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Weno Carasbong</strong>
                            <small>Tokyo, Japan</small>
                        </div>
                    </div><!-- media -->
                </li>
            </ul>
            
            <div class="mb30"></div>
            
            <h5 class="sidebartitle">Offline Users</h5>
            <ul class="chatuserlist">
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user5.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Eileen Sideways</strong>
                            <small>Los Angeles, CA</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user2.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Zaham Sindilmaca</strong>
                            <small>San Francisco, CA</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user3.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Nusja Nawancali</strong>
                            <small>Bangkok, Thailand</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user4.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Renov Leongal</strong>
                            <small>Cebu City, Philippines</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user5.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Weno Carasbong</strong>
                            <small>Tokyo, Japan</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user4.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Renov Leongal</strong>
                            <small>Cebu City, Philippines</small>
                        </div>
                    </div><!-- media -->
                </li>
                <li>
                    <div class="media">
                        <a href="#" class="pull-left media-thumb">
                            <img alt="" src="images/photos/user5.png" class="media-object">
                        </a>
                        <div class="media-body">
                            <strong>Weno Carasbong</strong>
                            <small>Tokyo, Japan</small>
                        </div>
                    </div><!-- media -->
                </li>
            </ul>
        </div>
        
    </div><!-- tab-content -->
  </div><!-- rightpanel -->
  
  
</section>


<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/easing.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/toggles.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/jquery.cookies.js"></script>

<script src="js/flot/flot.min.js"></script>
<script src="js/flot/flot.resize.min.js"></script>
<script src="js/morris.min.js"></script>
<script src="js/raphael-2.1.0.min.js"></script>

<script src="js/chosen.jquery.min.js"></script>

<script src="js/custom.js"></script>
<script>
    jQuery(document).ready(function() {
        
        // Chosen Select
        jQuery(".chosen-select").chosen({'width':'100%','white-space':'nowrap'});
        
        // Date Picker
        jQuery('#datepicker').datepicker();
        
    });
</script>

</body>
</html>
